.historie {
  padding-bottom: 1000px;
  width: 100%;
  background: var(--history-background-color);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3rem;
  z-index: 100000;
  border-top-width: 10px;
  border-top-style: solid;
}


.minulost{
  color: black;
  display: flex;
  padding-top: 20px;
  margin-left: 20px;

}