.historie {
  padding-bottom: 1000px;
  margin-top: 700px;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 100000;

}


.minulost{
  color: whitesmoke;
  display: flex;
  padding-top: 20px;

}