.historie {
  padding-bottom: 1000px;
  width: 100%;
  background: var(--history-background-color);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3rem;
  z-index: 100000;
  outline-style: solid;
  outline-width: 10px;
  outline-offset: 0px;
}


.minulost{
  color: black;
  display: flex;
  padding-top: 20px;
  margin-left: 20px;

}