
[data-theme="dark"] {
  background: #080808;
  --text-color: wheat;
  --countdown-text-color: wheat;
  --site-header-box-border:  #000000;
  --skolnirok-timeline-progress:  linear-gradient(90deg, #F6EEC9, #A1DD70, #799351);
  --skolnirok-box-timeline: #ee4e4e4b;
  --skolnirok-button-click-background: #1f1f1f;
  --skolnirok-box-text: white;
  --skolnirok-box-prvak: #AF3E3E;
  --skolnirok-box-druhak: #A3DC9A;
  --skolnirok-box-tretak: #555879;
  --skolnirok-box-ctvrtak: #F08787;
  --mobile-links-background-color: #ffffff1a;
  --burger-menu-background-color-cross: #CC161F;
  --burger-menu-background-color: #fff;
  --site-header-background: #ffffff14;
  --site-header-box-shadow:  #00000066;

  --mobile-links-hover:   #0000003d;
  --mobile-links-background:  #00000038;
  --skolnirok-button: #2a2a2a;

}




[data-theme="white"] {
    background: url("./globalassets/background/white.jpg") center center;
  --text-color: rgb(22, 25, 26);
  --countdown-text-color: rgb(0, 0, 0);
  --site-header-box-border:  #000000;
  --skolnirok-timeline-progress:  linear-gradient(90deg, #F6EEC9, #A1DD70, #799351);
  --skolnirok-box-timeline: #ee4e4e4b;
  --skolnirok-button-click-background: #1f1f1f;
  --skolnirok-box-text: white;
  --skolnirok-box-prvak: #AF3E3E;
  --skolnirok-box-druhak: #A3DC9A;
  --skolnirok-box-tretak: #555879;
  --skolnirok-box-ctvrtak: #F08787;
  --mobile-links-background-color: #ffffff1a;
  --burger-menu-background-color-cross: #c24046;
  --burger-menu-background-color: rgb(0, 0, 0);
  --site-header-background: #ffffff5e;
  --site-header-box-shadow:  #f5f0f034;
  --mobile-links-hover:   #0000003d;
  --mobile-links-background:  #00000038;
  --skolnirok-button: #9b9b9b;
}






[data-theme="blue"] {
  background: #0d0f79;
  --countdown-text-color: #90e0efff;
  --text-color: rgb(89, 134, 151);
  --site-header-box-border:  #ffffff2e;
  --skolnirok-timeline-progress:  linear-gradient(90deg, #F6EEC9, #A1DD70, #799351);
  --skolnirok-box-timeline: #ee4e4e4b;
  --skolnirok-button-click-background: #1f1f1f;
  --skolnirok-box-text: white;
  --skolnirok-box-prvak: #0096c7ff;
  --skolnirok-box-druhak: rgb(1, 77, 117);
  --skolnirok-box-tretak: #00b4d8ff;
  --skolnirok-box-ctvrtak: #023e8aff;
  --mobile-links-background-color: #ffffff1a;
  --burger-menu-background-color-cross: #c24046;
  --burger-menu-background-color: rgb(186, 232, 241);
  --site-header-background: #ffffff14;
  --site-header-box-shadow:  #00000066;
  --mobile-links-hover:   #0000003d;
  --mobile-links-background:  #ffffff;
  --skolnirok-button: #2a2a2a;

}



body[data-theme="dark"] .home-icon {
  background-image: url('../../globalassets/home-icon-white.png');
}

/* Light theme */
body[data-theme="light"] .home-icon {
  background-image: url('../../globalassets/home-icon-dark.png');
}













[data-theme="ocean-sunset"] {
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;
}



[data-theme="ocean-blue"]{
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;
}

[data-theme="fairy-sunset"]{
  --rich-black: #03071eff;
  --chocolate-cosmos: #370617ff;
  --rosewood: #6a040fff;
  --penn-red: #9d0208ff;
  --engineering-orange: #d00000ff;
  --sinopia: #dc2f02ff;
  --persimmon: #e85d04ff;
  --princeton-orange: #f48c06ff;
  --orange-web: #faa307ff;
  --selective-yellow: #ffba08ff;

}