.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 0px;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; /* centers the text */
    font-family: "Jersey 20", serif;
    font-size: clamp(45px, 0vw, 55px); 
    font-weight: bolder;
    color: var(--text-color);
}

.home-icon {
    
    position: absolute;
    left: 20px;           /* left side of header */
    top: 50%;             /* vertical center */
    transform: translateY(-50%); /* perfect vertical centering */
    
    width: 40px;
    height: 40px;
    fill: var(--text-color-logo);
    transition: transform 0.3s ease; /* smooth hover effect */
    z-index: 10000;
}

.home-icon:hover {
    transform: translateY(-50%) scale(1.15); /* only grows on hover */
}

.default-name {
    text-align: center;
    z-index: 10000;
}

.home-icon {
  width: 28px;
  height: 28px;
  background-image: url('../../globalassets/home-icon-dark.png');
  background-size: cover;
}

/* Dark theme */

