@import url("globalassets/css/footer.css");
@import url("header/css/imports.css");
@import url("globalassets/css/color-themes.css");
@import url("globalassets/css/body.css");
@import url("globalassets/css/defaults.css");
@import url("globalassets/mainpage/introducition.css");
@import url("globalassets/mainpage/historie/body-shape.css");
@import url("globalassets/css/scrollbar.css");