
body {
  position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    vertical-align: baseline;
}

a {
    text-decoration: none; /* removes underline */
}

:root {
  --vh: 100%;
}

.fullscreen {
  height: calc(var(--vh, 1vh) * 100);
}

html, body {
  height: 100%;
  overflow: auto;
}
