body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
