
body {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;



}

a {
    text-decoration: none; /* removes underline */
}

:root {
  --vh: 100%;
}



@keyframes appear{
  from{
    opacity: 0;
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}


* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
};

button, 
button:active, 
button:focus {
  outline: none;
};