
body {
    padding: 0;
    min-height: 100dvh;
    width: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none; /* removes underline */
}

:root {
  --vh: 100%;
}

.fullscreen {
  height: calc(var(--vh, 1vh) * 100);
}

html, body {
  height: 100%;
  overflow: auto;
}
