
[data-theme="dark"] {
  background-color: #000000;
    background: url("../background/black4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  --text-color-logo: white;
  --text-color: white;
  --countdown-text-color: white;
  --site-header-box-border:  #000000;
  --skolnirok-timeline-progress:  linear-gradient(90deg, #F6EEC9, #A1DD70, #799351);
  --skolnirok-box-timeline: #ee4e4e4b;
  --skolnirok-button-click-background: #1f1f1f;
  --skolnirok-box-text: white;
  --skolnirok-box-prvak: #AF3E3E;
  --skolnirok-box-druhak: #A3DC9A;
  --skolnirok-box-tretak: #555879;
  --skolnirok-box-ctvrtak: #F08787;
  --mobile-links-background-color: #ffffff1a;
  --burger-menu-background-color-cross: #CC161F;
  --burger-menu-background-color: #fff;
  --site-header-background: #ffffff14;
  --site-header-box-shadow:  #00000066;
  --mobile-links-hover:   #0000003d;
  --mobile-links-background:  #00000038;
  --skolnirok-button: #2a2a2a;
  --infis-logo-background-introduction: #212a37;

}




[data-theme="white"] {
    background: url("../background/white.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

  
  --text-color: rgb(22, 25, 26);
  --countdown-text-color: rgb(0, 0, 0);
  --site-header-box-border:  #000000;
  --skolnirok-timeline-progress:  linear-gradient(90deg, #F6EEC9, #A1DD70, #799351);
  --skolnirok-box-timeline: #ee4e4e4b;
  --skolnirok-button-click-background: #1f1f1f;
  --skolnirok-box-text: white;
  --skolnirok-box-prvak: #AF3E3E;
  --skolnirok-box-druhak: #A3DC9A;
  --skolnirok-box-tretak: #555879;
  --skolnirok-box-ctvrtak: #F08787;
  --mobile-links-background-color: #ffffff1a;
  --burger-menu-background-color-cross: #c24046;
  --burger-menu-background-color: rgb(0, 0, 0);
  --site-header-background: #ffffff5e;
  --site-header-box-shadow:  #f5f0f034;
  --mobile-links-hover:   #0000003d;
  --mobile-links-background:  #00000038;
  --skolnirok-button: #9b9b9b;
  --infis-logo-background-introduction: #212a37;
}

[data-theme="blue"] {
    background: url("../background/blue.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    
  --home-icon: url("../../globalassets/home-icon-white.png");
  --countdown-text-color: rgb(144, 177, 239);
  --text-color: rgb(255, 255, 255);
  --site-header-box-border:  #ffffff2e;
  --skolnirok-timeline-progress:  linear-gradient(90deg, #F6EEC9, #A1DD70, #799351);
  --skolnirok-box-timeline: #ee4e4e4b;
  --skolnirok-button-click-background: #1f1f1f;
  --skolnirok-box-text: white;
  --skolnirok-box-prvak: #0096c7ff;
  --skolnirok-box-druhak: rgb(1, 77, 117);
  --skolnirok-box-tretak: #00b4d8ff;
  --skolnirok-box-ctvrtak: #023e8aff;
  --mobile-links-background-color: #ffffff1a;
  --burger-menu-background-color-cross: #c24046;
  --burger-menu-background-color: rgb(186, 232, 241);
  --site-header-background: #ffffff14;
  --site-header-box-shadow:  #00000066;
  --mobile-links-hover:   #0000003d;
  --mobile-links-background:  #ffffff;
  --skolnirok-button: #6d74c2;
  --infis-logo-background-introduction: #212a37;

}


[data-theme="ocean-sunset"] {
    
  --home-icon: url("../../globalassets/home-icon-white.png");
  --countdown-text-color: rgb(126, 150, 194);
  --text-color: rgb(255, 255, 255);
  --site-header-box-border:  #ffffff2e;
  --skolnirok-timeline-progress:  linear-gradient(90deg, #F6EEC9, #A1DD70, #799351);
  --skolnirok-box-timeline: #ee4e4e4b;
  --skolnirok-button-click-background: #1f1f1f;
  --skolnirok-box-text:#ffffff;
  --skolnirok-box-prvak: #bb3e03ff;
  --skolnirok-box-druhak: #ae2012ff;
  --skolnirok-box-tretak: rgb(187, 55, 3);
  --skolnirok-box-ctvrtak: #9b2226ff;
  --mobile-links-background-color: #ffffff1a;
  --burger-menu-background-color-cross: #c24046;
  --burger-menu-background-color: rgb(186, 232, 241);
  --site-header-background: #ffffff14;
  --site-header-box-shadow:  #00000066;
  --mobile-links-hover:   #0000003d;
  --mobile-links-background:  #ffffff;
  --skolnirok-button: rgba(0, 0, 0, 0.096);
  --infis-logo-background-introduction: #212a37;

}


  /* Sunset CSS Linear Gradient Background */
  [data-theme="ocean-sunset"]{
    background: #0B486B;
    background: linear-gradient(
      to bottom,
      #0B486B,#F56217
    );
  }




body[data-theme="dark"] {
  --home-icon: url("../../globalassets/home-icon-white.png");
  --text-color-logo: white;
}

body[data-theme="white"] {
  --home-icon: url("../../globalassets/home-icon-dark.png");
  --text-color-logo: black;
}

body[data-theme="blue"] {
  --home-icon: url("../../globalassets/home-icon-white.png");
  --text-color-logo: white;
}


body[data-theme="ocean-sunset"] {
  --home-icon: url("../../globalassets/home-icon-white.png");
  --text-color-logo: white;
}











[data-theme="ocean-sunset"] {
  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;
}



[data-theme="ocean-blue"]{
  --federal-blue: #03045eff;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --pacific-cyan: #00b4d8ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue: #90e0efff;
  --non-photo-blue-2: #ade8f4ff;
  --light-cyan: #caf0f8ff;
}

[data-theme="fairy-sunset"]{
  --rich-black: #03071eff;
  --chocolate-cosmos: #370617ff;
  --rosewood: #6a040fff;
  --penn-red: #9d0208ff;
  --engineering-orange: #d00000ff;
  --sinopia: #dc2f02ff;
  --persimmon: #e85d04ff;
  --princeton-orange: #f48c06ff;
  --orange-web: #faa307ff;
  --selective-yellow: #ffba08ff;

}