.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 80px;
    z-index: 3000; /* above mobile-links */
}

/* Left and right containers */
.left-side, .right-side {
    display: flex;
    gap: clamp(10px, 1vw, 30px); /* smaller max */
    flex: 1 1 auto;
    min-width: 0;
    z-index: 3100;
}

.right-side {
    justify-content: flex-end;  
    margin-right: clamp(5px, 2vw, 30px);
    padding-top: 5px;
}

.left-side {
    justify-content: flex-start;
    margin-left: clamp(5px, 2vw, 30px);
    padding-top: 5px;
}

/* Center site name */
.site-name {
    position: relative;
    flex: 0 1 auto;
    font-size: clamp(25px, 5vw, 55px); 
    font-weight: bolder;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
    z-index: 8000;

}

/* Links */
.left-side a, .right-side a {
    font-size: clamp(24px, 1.5vw, 40px);
    white-space: nowrap;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s, transform 0.3s;

}

.left-side a:hover,
.right-side a:hover {
    transform: translateY(-2px);
}

.infis-logo-header {
  display: none;
  gap: 15px;
  z-index: 10000;
}

.infis-logo-header img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}


.burger{
    z-index: 10000;
}