.site-header {
    
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display: none;
    justify-content: space-between; 
    align-items: center;
    height: 100px;
    z-index: 3000; /* above mobile-links */
}

.site-name {
    flex: 0 1 auto;
    font-size: clamp(25px, 5vw, 55px); 
    font-weight: bolder;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
    z-index: 8000;
    justify-content: flex-start;
    margin-left: 20px;

}


.links {
    justify-content: flex-end;
    margin-right: 30px;
    display: flex;
    gap: clamp(20px, 1vw, 50px); /* smaller max */
    flex: 1 1 auto;
    min-width: 0;
    z-index: 3100;
    padding-top: 5px;
}

/* Center site name */


/* Links */
.links a {
    font-size: clamp(24px, 1.5vw, 40px);
    white-space: nowrap;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s, transform 0.3s;

}

.links a:hover {
    transform: translateY(-2px);
}

.infis-logo-header {
  display: none;
  gap: 15px;
  z-index: 10000;
}

.infis-logo-header img {
  width: 28px;
  height: 28px;
  cursor: pointer;
}


.burger{
    z-index: 10000;
}
