.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between; /* left / center / right */
    align-items: center;
    height: 80px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

/* Left and right containers */
.left-side, .right-side {
    display: flex;
    gap: clamp(0px, 1vw, 30px); /* min = 5px, preferred = 5vw, max = 30px */
    flex: 1 1 auto;             /* allow shrinking */
    min-width: 0;
}


.right-side {
    justify-content: flex-end;  
    margin-right: clamp(5px, 2vw, 30px);
    padding-top: 5px;
}

.left-side {
    justify-content: flex-start;
    margin-left: clamp(5px, 2vw, 30px);
    padding-top: 5px;
}

/* Center site name */
.site-name {
    flex: 0 1 auto;          /* shrink if needed but stay centered */
    font-size: clamp(25px, 5vw, 55px); 
    font-weight: bolder;
    color: wheat;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

/* Individual links */
.left-side a, .right-side a {
    font-size: clamp(20px, 1.5vw, 40px);
    white-space: nowrap;
    text-decoration: none;
    color: wheat;
    transition: color 0.3s, transform 0.3s;
}


.left-side a:hover {
  transform: translateY(-2px);
}

.right-side a:hover {
  transform: translateY(-2px);
}